{% extends "sevia_app/base.html" %} {% load static %} {% block content %}
<h1>Topics</h1>
<div class="row">  
{%for tutorial in tutorial_list %}
<div class="col-md-4">
<div class="card">
  {% if tutorial.get_first_image %}
  <img class="card-img-top" style="max-height: 150px;" src="{{ tutorial.get_first_image.url }}" alt="Topic Image">

  {% endif %}
  <div class="card-body">
    <h3 class="card-title">{{ tutorial.title}}</h3>
    <p class="card-text" style="display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;">
          {{ tutorial.description}}
    </p>
    <footer class="blockquote-footer h4">Prepared By <cite title="Source Title">{{ tutorial.creator.fullname }}</cite></footer>

      <a href="{% url 'tutorial:tutorial' tutorial.id%}" class="btn btn-primary">Read More</a>

  </div>
</div>
</div>
{% endfor %}
</div>
{% endblock content %} {% block extra_styles %}

<link
  rel="stylesheet"
  href="{% static 'sevia_app/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css' %}"
/>

{% endblock extra_styles %} {% block extra_js %}

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

<script language="javascript">
  $(document).ready(function () {
    $("#facilities_table").DataTable({
      language: {
        lengthMenu: "_MENU_",
      },
    });
  });
</script>

{% endblock extra_js %}
