{% extends "sevia_app/base.html" %} {% load static %} {% block content %}
<h1>{{ tutorial.title}}</h1>
<div class="card">
  <div class="card-body">
  <h3>Description:</h3>
    <p class="card-text" style="font-weight: 500">
          {{ tutorial.description}}
    </p>

    <h3>Resources:</h3>
    {% for media in tutorial.tutorialmediafiles_set.all %}
    {% if media.tutorial_image %}
    <p>Image : <a href="{{ media.tutorial_image.url }}" target="_blank">{{ media.tutorial_image.name }}</a></p>
    {% endif %}
    {% if media.tutorial_file %}
    <p>File : <a href="{{ media.tutorial_file.url }}" target="_blank">{{ media.tutorial_file.name }}</a></p>
    {% endif %}
    {% if media.video_url %}
    <p>Video : <a href="{{ media.video_url }}" target="_blank">{{ media.video_url }}</a></p>
    {% endif %}
    {% endfor %}


    <footer class="blockquote-footer h4">Prepared By <cite title="Source Title">{{ tutorial.creator.fullname }}</cite></footer>


  </div>
</div>
{% endblock content %} {% block extra_styles %}

<link
  rel="stylesheet"
  href="{% static 'sevia_app/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css' %}"
/>

{% endblock extra_styles %} {% block extra_js %}

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

<script language="javascript">
  $(document).ready(function () {
    $("#facilities_table").DataTable({
      language: {
        lengthMenu: "_MENU_",
      },
    });
  });
</script>

{% endblock extra_js %}
