{% load static %}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <meta name="description" content="SEVIA" />
    <meta name="author" content="" />

    <title>SEVIA</title>

    <link
      rel="apple-touch-icon"
      href="{% static 'sevia_app/assets/images/sevia.png' %}"
    />
    <link
      rel="shortcut icon"
      href="{% static 'sevia_app/assets/images/sevia.png' %}"
    />

    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/css/bootstrap-extend.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/assets/css/site.min.css' %}"
    />

    <!-- Plugins -->
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/animsition/animsition.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/asscrollable/asScrollable.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/switchery/switchery.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/intro-js/introjs.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/slidepanel/slidePanel.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/flag-icon-css/flag-icon.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/waves/waves.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/assets/examples/css/pages/login-v2.css' %}"
    />

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/fonts/material-design/material-design.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/fonts/brand-icons/brand-icons.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic"
    />

    <!--[if lt IE 9]>
      <script src="{% static 'sevia_app/global/vendor/animsition/animsition.css' %}html5shiv/html5shiv.min.js"></script>
    <![endif]-->

    <!--[if lt IE 10]>
      <script src="{% static 'sevia_app/global/vendor/animsition/animsition.css' %}media-match/media.match.min.js"></script>
      <script src="{% static 'sevia_app/global/vendor/animsition/animsition.css' %}respond/respond.min.js"></script>
    <![endif]-->

    <!-- Scripts -->
    <script src="{% static 'sevia_app/global/vendor/breakpoints/breakpoints.js' %}"></script>
    <script>
      Breakpoints();
    </script>
  </head>
  <body class="animsition page-login-v2 layout-full page-dark">
    

    <!-- Page -->
    <div class="page" data-animsition-in="fade-in" data-animsition-out="fade-out">
      <div class="page-content">
        <div class="page-brand-info">
          <div class="brand">
            <img class="brand-img" width="80px" src="{% static 'sevia_app/assets/images/sevia_nobg.png' %}" alt="...">
            <h2 class="brand-text font-size-40">SEVIA</h2>
          </div>
          <p class="font-size-20">welcome to SEVIA management portal</p>
        </div>
        <div class="page-login-main">
          {% block content %}{% endblock content %}

          <footer class="page-copyright">
            <p>WEBSITE BY SkyConnect</p>
            <p>© 2021. All RIGHT RESERVED.</p>
          </footer>
        </div>

      </div>
        
    </div>
    
    <!-- End Page -->


    <!-- Core  -->
    <script src="{% static 'sevia_app/global/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/popper-js/umd/popper.min.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/bootstrap/bootstrap.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/animsition/animsition.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/waves/waves.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'sevia_app/global/vendor/switchery/switchery.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/intro-js/intro.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/screenfull/screenfull.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/chartist/chartist.min.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/jvectormap/maps/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/matchheight/jquery.matchHeight-min.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/peity/jquery.peity.min.js' %}"></script>

    <!-- Scripts -->
    <script src="{% static 'sevia_app/global/js/Component.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Plugin.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Base.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Config.js' %}"></script>

    <script src="{% static 'sevia_app/assets/js/Section/Menubar.js' %}"></script>
    <script src="{% static 'sevia_app/assets/js/Section/GridMenu.js' %}"></script>
    <script src="{% static 'sevia_app/assets/js/Section/Sidebar.js' %}"></script>
    <script src="{% static 'sevia_app/assets/js/Section/PageAside.js' %}"></script>
    <script src="{% static 'sevia_app/assets/js/Plugin/menu.js' %}"></script>

    <script src="{% static 'sevia_app/global/js/config/colors.js' %}"></script>
    <script src="{% static 'sevia_app/assets/js/config/tour.js' %}"></script>

    <!-- Page -->
    <script src="{% static 'sevia_app/assets/js/Site.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Plugin/asscrollable.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Plugin/slidepanel.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Plugin/switchery.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Plugin/matchheight.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Plugin/jvectormap.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Plugin/peity.js' %}"></script>

    <script src="{% static 'sevia_app/assets/examples/js/dashboard/v1.js' %}"></script>
  </body>
</html>
