{% extends "accounts/auth_layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}       
          <div class="brand hidden-md-up">
            <img class="brand-img" width="40px" src="{% static 'sevia_app/assets/images/sevia_nobg.png' %}" alt="...">
            <h3 class="brand-text font-size-40">SEVIA</h3>
          </div>
          <h3 class="font-size-24">Sign In</h3>
          <p>Delighted to have you</p>

          <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign In</button>

                <a href="{% url 'accounts:password_reset'%}" class="mx-10">Forgot password</a>
                <p></p>
                <p>No account?<a href="{% url 'accounts:user_register'%}" class="mx-3">Sign Up</a></p>                
            </div>
        </form>
{% endblock content %}