{% extends "accounts/auth_layout.html" %}
{% load static %}
{% block content %}
<div class="page-content vertical-align-middle">
  <i style="font-size: 55px;" class="icon md-settings icon-spin page-maintenance-icon" aria-hidden="true"></i>
  <p style="font-size: 55px;">Under Maintenance</p>
  <p>PLEASE GIVE US A MOMENT TO SORT THINGS OUT</p>

  <footer class="page-copyright">
    <p>WEBSITE BY SkyConnect</p>
    <p>© 2021. All RIGHT RESERVED.</p>
    <div class="social">
      <a class="btn btn-icon btn-pure" href="javascript:void(0)">
    <i class="icon bd-twitter" aria-hidden="true"></i>
  </a>
      <a class="btn btn-icon btn-pure" href="javascript:void(0)">
    <i class="icon bd-facebook" aria-hidden="true"></i>
  </a>
      <a class="btn btn-icon btn-pure" href="javascript:void(0)">
    <i class="icon bd-google-plus" aria-hidden="true"></i>
  </a>
    </div>
  </footer>
</div>
{% endblock content %}