{% extends "accounts/auth_layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
          <div class="brand hidden-md-up">
            <img class="brand-img" width="40px" src="{% static 'sevia_app/assets/images/sevia_nobg.png' %}" alt="...">
            <h3 class="brand-text font-size-40">SEVIA</h3>
          </div>
          <h3 class="font-size-24">Password reset sent</h3>
          <p>We've emailed you instructions for setting your password, <br />
             If an account exists with the email you entered. You should receive them shortly.<br />
             If you don't receive an email, please make sure you've entered the address you registered with, <br/>
              and check your spam folder.</p>

{% endblock content %}