{% extends "accounts/auth_layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
          <div class="brand hidden-md-up">
            <img class="brand-img" width="40px" src="{% static 'sevia_app/assets/images/sevia_nobg.png' %}" alt="...">
            <h3 class="brand-text font-size-40">SEVIA</h3>
          </div>
          <h3 class="font-size-24">Reset Password</h3>
          <p>Forgotten your password? <br/> Enter your email address below, and we'll email instructions for setting a new one.</p>

          <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Send email</button>
            <p></p>
            <a href="{% url 'accounts:login'%}" class="mx-0">Return back to Login</a>
        </form>

{% endblock content %}