{% extends "accounts/auth_layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
          <div class="brand hidden-md-up">
            <img class="brand-img" width="40px" src="{% static 'sevia_app/assets/images/sevia_nobg.png' %}" alt="...">
            <h3 class="brand-text font-size-40">SEVIA</h3>
          </div>
          <h3 class="font-size-24">Password reset complete</h3>
          <p>Your password has been set. You may go ahead and log in now.</p>

          <a href="{% url 'accounts:login'%}" class="btn btn-primary">Log in</a>

{% endblock content %}