{% extends "accounts/auth_layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}   
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sign Up</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Register</button>
            </div>
        </form>
  {% endblock content %}