{% extends "sevia_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="content-section">
        <form method="post">{% csrf_token %}
         <legend class="border-bottom mb-4">Delete User</legend>
            <p>Are you sure you want to delete <b>"{{ object }}"</b> ?</p>
            <button type="submit" class="btn btn-danger">Confirm</button>
            <a href="{% url 'accounts:user_list' %}" class="btn btn-outline-info">Cancel</a>
        </form>
    </div>
{% endblock content %}