{% extends "sevia_app/base.html" %} {% load static %} {% block content %}
<div class="card">
  <div class="card-body">
    <h1>{{user_detail.fullname}}</h1>
    <h4>
      {%for g in user_detail.groups.all %}
        {{g.name}} {% if not forloop.last %}, {% endif %}
      {%endfor%}
    </h4>
    <span class="mt-6"></span>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="round">
          <span id="c-numbers">{{data.cases_count}}</span>
          {%if data.first_role == 'CCS Image Reviewer' %}
            <p>Cases Reviewed</p>
          {%else%}
            <p>Cases Submitted</p>
          {%endif%}
          </div>

          <div class="round">
            <span id="c-numbers">{{data.facilities_count}}</span>
              <p>Facilities</p>
            </div>
            {%if data.first_role == 'CCS Image Reviewer' %}
            <div class="round">
              <span id="c-numbers">{{data.average_response_minutes|floatformat:1 }}</span>
                <p>Average Response ({{data.average_response_time_name}})</p>
              </div>
              {%else%}
              <div class="round">
                <span id="c-numbers">{{data.percentage_provider_accuracy|floatformat:1 }}%</span>
                  <p>Accuracy</p>
                </div>
            {%endif%}

          
      </div>
      <div class="col-md-8">
          <h3>Cases   Trend</h3>
          <canvas id="casesTrend" height="250" width="450"></canvas>
        </div>
        <div class="col-md-12">
          <h3>User Facilities</h3>

          <table class="table table-striped table-bordered" id="facilities_table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">District</th>
              </tr>
            </thead>
            <tbody>
              {%for user_facility in user_detail.facility_set.all %}
                <tr>
                <th scope="row">{{user_facility.id}}</th>
                <td>{{user_facility.name}}</td>
                <td>
                  {{user_facility.district.name}}
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  
</div>
</div>
{% endblock content %} {% block extra_styles %}

<link
  rel="stylesheet"
  href="{% static 'sevia_app/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css' %}"
/>

<style>
.round {
    margin: 20px;
    text-align: center;
}
.round > span {
    display: block;
    height: 110px;
    width: 110px;
    line-height: 110px;
    border: 2px dotted gray;
    border-radius: 50%;
    text-align: center;
    margin: 8px auto;
    font-size: 1.7em;
}
</style>

{% endblock extra_styles %} {% block extra_js %}

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'sevia_app/global/vendor/chart-js/Chart.js' %}"></script>


<script language="javascript">


  var lineChartData = {
        labels: {{ data.case_trend_labels|safe }},
        datasets: [{
          label: "Cases Trend",
          fill: true,
          backgroundColor: "rgba(98, 168, 234, .1)",
          borderColor: Config.colors("primary", 600),
          pointRadius: 4,
          borderDashOffset: 2,
          pointBorderColor: "#fff",
          pointBackgroundColor: Config.colors("primary", 600),
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: Config.colors("primary", 600),
          data: {{ data.case_trend_data|safe }},
        }]
      };
  
      var myLine = new Chart(document.getElementById("casesTrend").getContext("2d"), {
        type: 'line',
        data: lineChartData,
        options: {
          responsive: true,
          scales: {
            xAxes: [{
              display: true
            }],
            yAxes: [{
              display: true
            }]
          }
        }
      });
  </script>

{% endblock extra_js %}
