{% load static %}
<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <meta name="description" content="SEVIA" />
    <meta name="author" content="" />

    <title>SEVIA</title>

    <link
      rel="apple-touch-icon"
      href="{% static 'sevia_app/assets/images/sevia.png' %}"
    />
    <link
      rel="shortcut icon"
      href="{% static 'sevia_app/assets/images/sevia.png' %}"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/css/bootstrap-extend.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/assets/css/site.min.css' %}"
    />

    <!-- Plugins -->
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/animsition/animsition.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/asscrollable/asScrollable.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/switchery/switchery.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/intro-js/introjs.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/slidepanel/slidePanel.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/flag-icon-css/flag-icon.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/vendor/waves/waves.css' %}"
    />

    <!-- Fonts -->
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/fonts/material-design/material-design.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'sevia_app/global/fonts/brand-icons/brand-icons.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic"
    />

    {% block extra_styles %}{% endblock extra_styles%}
    <!-- Scripts -->
    <script src="{% static 'sevia_app/global/vendor/breakpoints/breakpoints.js' %}"></script>
    <script>
      Breakpoints();
    </script>
  </head>
  <body class="animsition sevia_app">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <nav
      class="site-navbar navbar navbar-default navbar-fixed-top navbar-mega"
      role="navigation"
    >
      <div class="navbar-header"           style="background-color:#a8e0f3;">
        <button
          type="button"
          class="navbar-toggler hamburger hamburger-close navbar-toggler-left hided"
          data-toggle="menubar"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="hamburger-bar"></span>
        </button>
        <button
          type="button"
          class="navbar-toggler collapsed"
          data-target="#site-navbar-collapse"
          data-toggle="collapse"
        >
          <i class="icon md-more" aria-hidden="true"></i>
        </button>
        <div
          class="navbar-brand navbar-brand-center site-gridmenu-toggle"
          data-toggle="gridmenu"
        >
          <img
            class="navbar-brand-logo"
            src="{% static 'sevia_app/assets/images/sevia_nobg.png' %}"
            title="SEVIA"
          />
          <span class="navbar-brand-text hidden-xs-down"> SEVIA <small>V2.0</small> </span>
        </div>
        <button
          type="button"
          class="navbar-toggler collapsed"
          data-target="#site-navbar-search"
          data-toggle="collapse"
        >
          <span class="sr-only">Toggle Search</span>
          <i class="icon md-search" aria-hidden="true"></i>
        </button>
      </div>

      <div class="navbar-container container-fluid">
        <!-- Navbar Collapse -->
        <div
          class="collapse navbar-collapse navbar-collapse-toolbar"
          id="site-navbar-collapse"
        >
          <!-- Navbar Toolbar -->
          <ul class="nav navbar-toolbar">
            <li class="nav-item hidden-float" id="toggleMenubar">
              <a class="nav-link" data-toggle="menubar" href="#" role="button">
                <i class="icon hamburger hamburger-arrow-left">
                  <span class="sr-only">Toggle menubar</span>
                  <span class="hamburger-bar"></span>
                </i>
              </a>
            </li>
          </ul>
          <!-- End Navbar Toolbar -->

          <!-- Navbar Toolbar Right -->
          <ul class="nav navbar-toolbar navbar-right navbar-toolbar-right">
            {% if user.is_authenticated %}
              <a class="navbar-brand" href="#" style="padding: 1.5rem 0.5rem">{{user.fullname}}</a><br/>
              <em style="padding: 1.5rem 0rem">( {{user.username}} )</em>
            {% endif%}
            <li class="nav-item dropdown">
              <a
                class="nav-link navbar-avatar"
                data-toggle="dropdown"
                href="#"
                aria-expanded="false"
                data-animation="scale-up"
                role="button"
              >
                <span class="avatar avatar-online">
                  <img
                    src="{% static 'sevia_app/global/portraits/profile_black.jpg' %}"
                    alt="avatar"
                  />
                  <i></i>
                </span>
              </a>
              <div class="dropdown-menu" role="menu">
                <a
                  class="dropdown-item"
                  href="{% url 'accounts:profile' %}"
                  role="menuitem"
                  ><i class="icon md-account" aria-hidden="true"></i> Profile</a
                >
                <a
                  class="dropdown-item"
                  href="javascript:void(0)"
                  role="menuitem"
                  ><i class="icon md-settings" aria-hidden="true"></i>
                  Settings</a
                >
                <div class="dropdown-divider" role="presentation"></div>
                <a
                  class="dropdown-item"
                  href="{% url 'accounts:logout' %}"
                  role="menuitem"
                  ><i class="icon md-power" aria-hidden="true"></i> Logout</a
                >
              </div>
            </li>
          </ul>
          <!-- End Navbar Toolbar Right -->
        </div>
        <!-- End Navbar Collapse -->

        <!-- Site Navbar Seach -->
        <div class="collapse navbar-search-overlap" id="site-navbar-search">
          <form role="search">
            <div class="form-group">
              <div class="input-search">
                <i class="input-search-icon md-search" aria-hidden="true"></i>
                <input
                  type="text"
                  class="form-control"
                  name="site-search"
                  placeholder="Search..."
                />
                <button
                  type="button"
                  class="input-search-close icon md-close"
                  data-target="#site-navbar-search"
                  data-toggle="collapse"
                  aria-label="Close"
                ></button>
              </div>
            </div>
          </form>
        </div>
        <!-- End Site Navbar Seach -->
      </div>
    </nav>
    <div class="site-menubar">
      <div class="site-menubar-body">
        <div>
          <div>
            <ul class="site-menu" data-plugin="menu">
              <li class="site-menu-category">Dashboard</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="site-gridmenu">
      <div>
        <div>
          <ul>
            <li>
              <a href="apps/mailbox/mailbox.html">
                <i class="icon md-email"></i>
                <span>Mailbox</span>
              </a>
            </li>
            <li>
              <a href="apps/calendar/calendar.html">
                <i class="icon md-calendar"></i>
                <span>Calendar</span>
              </a>
            </li>
            <li>
              <a href="apps/contacts/contacts.html">
                <i class="icon md-account"></i>
                <span>Contacts</span>
              </a>
            </li>
            <li>
              <a href="apps/media/overview.html">
                <i class="icon md-videocam"></i>
                <span>Media</span>
              </a>
            </li>
            <li>
              <a href="apps/documents/categories.html">
                <i class="icon md-receipt"></i>
                <span>Documents</span>
              </a>
            </li>
            <li>
              <a href="apps/projects/projects.html">
                <i class="icon md-image"></i>
                <span>Project</span>
              </a>
            </li>
            <li>
              <a href="apps/forum/forum.html">
                <i class="icon md-comments"></i>
                <span>Forum</span>
              </a>
            </li>
            <li>
              <a href="index.html">
                <i class="icon md-view-sevia_app"></i>
                <span>sevia_app</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Page -->
    <div class="page">
      <div class="page-content container-fluid">
        {% block content %}{% endblock content %}
      </div>
    </div>
    <!-- End Page -->

    <!-- Footer -->
    <footer class="site-footer">
      <div class="site-footer-legal">
        © 2021
        <a href="http://skyconnect.co.tz">Skyconnect</a>
      </div>
    </footer>
    <!-- Core  -->
    <script src="{% static 'sevia_app/global/vendor/babel-external-helpers/babel-external-helpers.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/jquery/jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    <script src="{% static 'sevia_app/global/vendor/animsition/animsition.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/mousewheel/jquery.mousewheel.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/asscrollbar/jquery-asScrollbar.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/asscrollable/jquery-asScrollable.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/ashoverscroll/jquery-asHoverScroll.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/waves/waves.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'sevia_app/global/vendor/switchery/switchery.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/intro-js/intro.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/screenfull/screenfull.js' %}"></script>
    <script src="{% static 'sevia_app/global/vendor/slidepanel/jquery-slidePanel.js' %}"></script>

    <!-- Scripts -->
    <script src="{% static 'sevia_app/global/js/Component.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Plugin.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Base.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Config.js' %}"></script>

    <script src="{% static 'sevia_app/assets/js/Section/Menubar.js' %}"></script>
    <script src="{% static 'sevia_app/assets/js/Section/GridMenu.js' %}"></script>
    <script src="{% static 'sevia_app/assets/js/Section/Sidebar.js' %}"></script>
    <script src="{% static 'sevia_app/assets/js/Section/PageAside.js' %}"></script>
    <script src="{% static 'sevia_app/assets/js/Plugin/menu.js' %}"></script>

    <script src="{% static 'sevia_app/global/js/config/colors.js' %}"></script>
    <script src="{% static 'sevia_app/assets/js/config/tour.js' %}"></script>

    <!-- Page -->
    <script src="{% static 'sevia_app/assets/js/Site.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Plugin/asscrollable.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Plugin/slidepanel.js' %}"></script>
    <script src="{% static 'sevia_app/global/js/Plugin/switchery.js' %}"></script>
    <script>
      (function (document, window, $) {
        "use strict";

        var Site = window.Site;
        $(document).ready(function () {
          Site.run();
        });
      })(document, window, jQuery);
    </script>
    {% block extra_js%}{% endblock extra_js %}
  </body>
</html>
