{% extends "sevia_app/base.html" %} {% load static %} {% block content %}
<h1>Facilities</h1>
<div class="card">
  <div class="card-body">
    <table class="table table-striped table-bordered" id="facilities_table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">District</th>
          <th scope="col">Region</th>
          <th scope="col">Phone</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {%for facility in facility_list %}
        <tr>
          <th scope="row">{{facility.id}}</th>
          <td>{{facility.name}}</td>
          <td>{{facility.district.name}}</td>
          <td>{{facility.district.region.name}}</td>
          <td>{{facility.phone}}</td>
          <td>
            <a
              role="button"
              href="{% url 'sevia_app:facility_update' facility.id %}"
              class="btn btn-pure btn-primary icon md-edit"
            ></a>
            <a
              role="button"
              href="{% url 'sevia_app:facility_detail' facility.id %}"
              class="btn btn-pure btn-primary icon md-chart"
            ></a>
            <a
              role="button"
              href="{% url 'sevia_app:facility_delete' facility.id %}"
              class="btn btn-pure btn-danger icon md-delete"
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block extra_styles %}

<link
  rel="stylesheet"
  href="{% static 'sevia_app/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css' %}"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/fixedheader/3.1.8/css/fixedHeader.bootstrap.min.css"
/>
<style>
  div.dataTables_wrapper {
        margin: 0 auto;
    }
    thead input {
        width: 100%;
    }
    td {
        width: 1000px;
    }

    table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed; 
  word-wrap:break-word;
}
</style>

{% endblock extra_styles %} {% block extra_js %}

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.8/js/dataTables.fixedHeader.min.js"></script>

<script language="javascript">
  $(document).ready(function () {
    $("#facilities_table").DataTable({
      scrollX: true,
      fixedHeader: true,
      language: {
        lengthMenu: "_MENU_",
      },
    });
  });
</script>

{% endblock extra_js %}
