{% extends "sevia_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <div class="card mx-auto" style="width: 500px">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Facility</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
        </form>
        </div>
    </div>
  </div>
{% endblock content %}

{% block extra_styles %}

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />


{% endblock extra_styles %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script language="javascript">
  
        $(document).ready(function() {
            $('.selectmultiple , .select').select2();
        });

    </script>

{% endblock extra_js %}