{% extends "sevia_app/base.html" %} {% load static %} {% block content %}
<div class="card">
  <div class="card-body">
    <h1>{{facility.name}}</h1>
    <h4>{{facility.get_full_address}}</h4>
    <span class="mt-6"></span>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="round">
          <span id="c-numbers">{{data.patient_count}}</span>
            <p>Patients Visited</p>
          </div>

          <div class="round">
            <span id="c-numbers">{{data.users_count}}</span>
              <p>Total Staffs</p>
            </div>
          
      </div>
      <div class="col-md-8">
          <h3>Cases   Trend</h3>
          <canvas id="caseTrend" height="300" width="450"></canvas>
        </div>
        <div class="col-md-12">
          <h3>Facility Members</h3>

          <table class="table table-striped table-bordered" id="facilities_table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
              </tr>
            </thead>
            <tbody>
              {%for facility_user in facility.users.all %}
                <tr>
                <th scope="row">{{facility_user.id}}</th>
                <td>{{facility_user.fullname}}</td>
                <td>
                  {%for g in facility_user.groups.all %}
                    {{g.name}} {% if not forloop.last %}, {% endif %}
                  {%endfor%}
                  </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  
</div>
</div>
{% endblock content %} {% block extra_styles %}

<link
  rel="stylesheet"
  href="{% static 'sevia_app/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css' %}"
/>

<style>
.round {
    margin: 20px;
    text-align: center;
}
.round > span {
    display: block;
    height: 110px;
    width: 110px;
    line-height: 110px;
    border: 2px dotted gray;
    border-radius: 50%;
    text-align: center;
    margin: 8px auto;
    font-size: 1.7em;
}
</style>

{% endblock extra_styles %} {% block extra_js %}

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script src="{% static 'sevia_app/global/vendor/chart-js/Chart.js' %}"></script>


<script language="javascript">


  var lineChartData = {
        labels: {{ data.case_trend_labels|safe }},
        datasets: [{
          label: "Cases Trend",
          fill: true,
          backgroundColor: "rgba(98, 168, 234, .1)",
          borderColor: Config.colors("primary", 600),
          pointRadius: 4,
          borderDashOffset: 2,
          pointBorderColor: "#fff",
          pointBackgroundColor: Config.colors("primary", 600),
          pointHoverBackgroundColor: "#fff",
          pointHoverBorderColor: Config.colors("primary", 600),
          data: {{ data.case_trend_data|safe }},
        }]
      };
  
      var myLine = new Chart(document.getElementById("caseTrend").getContext("2d"), {
        type: 'line',
        data: lineChartData,
        options: {
          responsive: true,
          scales: {
            xAxes: [{
              display: true
            }],
            yAxes: [{
              display: true
            }]
          }
        }
      });
  </script>

{% endblock extra_js %}
