{% extends "sevia_app/base.html" %} {% load static %} {% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="counter counter-lg">
                    <div class="counter-label text-uppercase">Users</div>
                    <div class="counter-number-group">
                      <canvas id="exampleChartjsPie" height="120"></canvas>
                    </div>
                  </div>
            </div> 
        </div> 
    </div>
    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="counter counter-lg">
                    <div class="counter-label text-uppercase">Facilities</div>
                    <div class="counter-number-group">
                      <span class="counter-icon mr-10 green-600">
                        <i class="md-chart"></i>
                      </span>
                      <span class="counter-number">{{facilities_count}}</span>
                    </div>
                  </div>
            </div> 
        </div> 
    </div>
    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="counter counter-lg">
                    <div class="counter-label text-uppercase">Patients</div>
                    <div class="counter-number-group">
                      <span class="counter-icon mr-10 green-600">
                        <i class="md-chart"></i>
                      </span>
                      <span class="counter-number">{{patient_count}}</span>
                    </div>
                  </div>
            </div> 
        </div> 
    </div>
    <div class="col-md-3">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="counter counter-lg">
                    <div class="counter-label text-uppercase">Cases</div>
                    <div class="counter-number-group">
                      <span class="counter-icon mr-10 green-600">
                        <i class="md-chart"></i>
                      </span>
                      <span class="counter-number">{{cases_count}}</span>
                    </div>
                  </div>
            </div> 
        </div> 
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <canvas id="caseTrend" height="200" width="450"></canvas>
        </div>
    </div>
</div>
{% endblock content %} {% block extra_styles %}

<!-- <link
  rel="stylesheet"
  href="{% static 'sevia_app/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css' %}"
/> -->

{% endblock extra_styles %} {% block extra_js %}

<script src="{% static 'sevia_app/global/vendor/chart-js/Chart.js' %}"></script>
<script language="javascript">

var d = new Date();
var lineChartData = {
      labels: {{ case_trend_labels|safe }},
      datasets: [{
        label: d.getFullYear(),
        fill: true,
        backgroundColor: "rgba(98, 168, 234, .1)",
        borderColor: Config.colors("primary", 600),
        pointRadius: 4,
        borderDashOffset: 2,
        pointBorderColor: "#fff",
        pointBackgroundColor: Config.colors("primary", 600),
        pointHoverBackgroundColor: "#fff",
        pointHoverBorderColor: Config.colors("primary", 600),
        data: {{ case_trend_data|safe }},
      },
      {
        label: 2016,
        fill: true,
        backgroundColor: "rgba(98, 268, 24, .1)",
        borderColor: Config.colors("info", 600),
        pointRadius: 4,
        borderDashOffset: 2,
        pointBorderColor: "#fff",
        pointBackgroundColor: Config.colors("info", 600),
        pointHoverBackgroundColor: "#fff",
        pointHoverBorderColor: Config.colors("info", 600),
        data: {{ prev_case_trend_data|safe }},
      },
    ]
    };

    var myLine = new Chart(document.getElementById("caseTrend").getContext("2d"), {
      type: 'line',
      data: lineChartData,
      options: {
        responsive: true,
        scales: {
          xAxes: [{
            display: true
          }],
          yAxes: [{
            display: true
          }]
        }
      }
    });

    userdata = {{ active_user_trend|safe }}

    var pieData = {
      labels: ["Inactive", "Active"],
      datasets: [{
        data: userdata,
        backgroundColor: [Config.colors("red", 400), Config.colors("green", 400)],
        hoverBackgroundColor: [Config.colors("red", 600), Config.colors("green", 600)]
      }]
    };

    var myPie = new Chart(document.getElementById("exampleChartjsPie").getContext("2d"), {
      type: 'pie',
      data: pieData,
      options: {
        responsive: true,
        legend: {
        display: false
        },
      }
    });
</script>

{% endblock extra_js %}

