{% extends "sevia_app/base.html" %}
{% load static %}
{% load crispy_forms_tags %} 
{% block content %}
    <div class="row">
      <div class="col-lg-4">
        <!-- Page Widget -->
        <div class="card card-shadow text-center">
          <div class="card-block">
            <a class="avatar avatar-lg" href="javascript:void(0)">
              <img src="{% static 'sevia_app/global/portraits/profile_black.jpg' %}" alt="...">
            </a>
            <!-- <h4 class="profile-user">{{patient.get_full_name}}</h4> -->
            <p class="profile-job">
                Phone: <span style="font-weight: bold;">{{patient.phone}}</span> <br>
                Age: <span style="font-weight: bold;">{{patient.age}}</span> <br>
                Facility: <span style="font-weight: bold;">
                  {%for g in patient.facility.all %}
                    {{g.name}} {% if not forloop.last %}, {% endif %}
                  {%endfor%}</span> <br>
                Registered On: <span style="font-weight: bold;">{{patient.created_on| date:"d M Y"}}</span> <br>
              </p>
          </div>
          <div class="card-footer">
            <div class="row no-space">
              <div class="col-6">
                <strong class="profile-stat-count">{{patient.formpatientdatav1_set.count}}</strong>
                <span>Visits</span>
              </div>
              <div class="col-6">
                <strong class="profile-stat-count">{{patient.case.count}}</strong>
                <span>Assessments</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Page Widget -->
      </div>

      <div class="col-lg-8">
        <!-- Panel -->
        <div class="panel">
          <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
              <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#activities"
                  aria-controls="activities" role="tab">Provider Data</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" data-toggle="tab" href="#profile" aria-controls="profile"
                    role="tab">Reviewer Data</a></li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane active animation-slide-left" id="activities" role="tabpanel">
                {%for patient_data in patient.formpatientdatav1_set.all %}
               <table class="table table-striped table-bordered mt-5" id="provider_table">
                  <thead>
                    <tr>
                      <th scope="col">Title</th>         
                      <th scope="col">Info</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Case Id</td>   
                      <td>{{patient_data.patient.id}}</td> 
                    </tr>
                      <td>Parity</td>   
                      <td>{{patient_data.parity}}</td>
                    </tr>
                    <tr>
                      <td>Ccs facility no</td>   
                      <td>{{patient_data.ccs_facility_no}}</td>
                    </tr>
                    <tr>
                      <td>Provider</td>   
                      <td>{{patient_data.provider.fullname}}</td>
                    </tr>
                    <tr>
                      <td>Screen Date</td>   
                      <td>{{patient_data.screen_date | date:"d/m/Y"}}</td>
                    </tr>
                    <tr>
                      <td>photo 1</td>   
                      <td>
                        {%if patient_data.photo_1%}
                        <img src="{{patient_data.photo_1.url}}">
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>photo 2</td>   
                      <td>
                        {%if patient_data.photo_2%}
                        <img src="{{patient_data.photo_2.url}}">
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>photo 3</td>   
                      <td>
                        {%if patient_data.photo_3%}
                        <img src="{{patient_data.photo_3.url}}">
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td>Reviewer</td>   
                      <td>{{patient_data.reviewer.fullname}}</td>
                    </tr>
                  </tbody>
                </table>
                {% endfor %}
              </div>
              <div class="tab-pane animation-slide-left" id="profile" role="tabpanel">
                {%for patient_data in patient.case.all %}
                <table class="table table-striped table-bordered mt-5" id="provider_table">
                   <thead>
                     <tr>
                       <th scope="col">Title</th>         
                       <th scope="col">Info</th>
                     </tr>
                   </thead>
                   <tbody>
                     <tr>
                       <td>Data Id</td>         
                       <td>{{patient_data.uri}}</td>
                     </tr>
                       <td>Assessment</td>   
                       <td>{{patient_data.assessment}}</td>
                     </tr>
                     <tr>
                       <td>Comment</td>   
                       <td>{{patient_data.comment}}</td>
                     </tr>
                     <tr>
                      <td>Review Date</td>   
                      <td>{{patient_data.created_at | date:"d/m/Y"}}</td>
                    </tr>
                   </tbody>
                 </table>
                 {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <!-- End Panel -->
      </div>
    </div>
{% endblock content %}
