{% extends "sevia_app/base.html" %}
{% load static %}
{% load crispy_forms_tags %} 
{% block content %}
    <div class="row">
      <div class="col-lg-3">
        <!-- Page Widget -->
        <div class="card card-shadow text-center">
          <div class="card-block">
            <a class="avatar avatar-lg" href="javascript:void(0)">
              <img src="{% static 'sevia_app/global/portraits/profile_black.jpg' %}" alt="...">
            </a>
            <h4 class="profile-user">{{user.fullname}}</h4>
            <p class="profile-job">
              {%for g in user.groups.all %}
              {{g.name}} {% if not forloop.last %}, {% endif %}
            {%endfor%}</p>
          </div>
          <div class="card-footer">
            <div class="row no-space">
              <div class="col-6">
                <strong class="profile-stat-count">{{user.get_total_cases}}</strong>
                <span>Cases</span>
              </div>
              <div class="col-6">
                <strong class="profile-stat-count">{{user.facility_set.count}}</strong>
                <span>Facilities</span>
              </div>
            </div>
          </div>
        </div>
        <!-- End Page Widget -->
      </div>

      <div class="col-lg-9">
        <!-- Panel -->
        <div class="panel">
          <div class="panel-body nav-tabs-animate nav-tabs-horizontal" data-plugin="tabs">
            <ul class="nav nav-tabs nav-tabs-line" role="tablist">
              <li class="nav-item" role="presentation"><a class="active nav-link" data-toggle="tab" href="#activities"
                  aria-controls="activities" role="tab">Change Password</a></li>

            </ul>

            <div class="tab-content">
              <div class="tab-pane active animation-slide-left" id="activities" role="tabpanel">
                <form method="POST">
                  {% csrf_token %}
                <fieldset class="form-group mt-10">
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Change Password</button>
                </div>  
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- End Panel -->
      </div>
    </div>
{% endblock content %}
