{% extends "sevia_app/base.html" %} {% load static %} {% block content %}
<h1>Regions</h1>
<div class="card">
  <div class="card-body">
    <table class="table table-striped table-bordered" id="facilities_table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Country</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {%for region in region_list %}
        <tr>
          <th scope="row">{{ region.id}}</th>
          <td>{{ region.name}}</td>
          <td>{{ region.country.name}}</td>
          <td>
            <a
              role="button"
              href="{% url 'sevia_app:region_update' region.id %}"
              class="btn btn-pure btn-primary icon md-edit"
            ></a>
            <a
              role="button"
              href="{% url 'sevia_app:region_delete' region.id %}"
              class="btn btn-pure btn-danger icon md-delete"
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block extra_styles %}

<link
  rel="stylesheet"
  href="{% static 'sevia_app/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css' %}"
/>

{% endblock extra_styles %} {% block extra_js %}

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>

<script language="javascript">
  $(document).ready(function () {
    $("#facilities_table").DataTable({
      language: {
        lengthMenu: "_MENU_",
      },
    });
  });
</script>

{% endblock extra_js %}
