{% extends "sevia_app/base.html" %} {% load static %} {% block content %}
<h1>Report</h1>
<div class="card">
  <div class="card-body">
    <table class="table table-striped table-bordered" id="report_table">
      <thead>
        <tr>
          <th scope="col">Case</th>         
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Age</th>
          <th scope="col">Parity</th>
          <th scope="col">Patient Received Pitc</th>
          <th scope="col">hiv status</th>
          <th scope="col">Assessment</th>
          <th scope="col">Facility</th>
          <th scope="col">District</th>
          <th scope="col">Reviewer</th>
          <th scope="col">Provider</th>
          <th scope="col">Visit Date</th>
        </tr>
      </thead>
      <tbody>
        {%for patient_data in object_list %}
        <tr>
          <td>{{patient_data.patient.id}}</td>         
          <td>{{patient_data.patient.get_full_name}}</td>
          <td>{{patient_data.patient.phone}}</td>
          <td>{{patient_data.patient.age}}</td>
          <td>{{patient_data.parity}}</td>
          <td>{{patient_data.patient_received_pitc}}</td>
          <td>{{patient_data.hiv_status}}</td>
          <td>{{patient_data.assessment}}</td>
          <td>{{patient_data.patient.facility.name}}</td>
          <td>{{patient_data.patient.facility.district.name}}</td>
          <td>{{patient_data.reviewer.fullname}}</td>
          <td>{{patient_data.provider.fullname}}</td>
          <td>{{patient_data.visit_date | date:"d/m/Y"}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %} {% block extra_styles %}

<link
  rel="stylesheet"
  href="{% static 'sevia_app/global/vendor/datatables.net-bs4/dataTables.bootstrap4.css' %}"
/>
<link
  rel="stylesheet"
  href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css"
/>
<link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.8/css/fixedHeader.dataTables.min.css">
<style>
  div.dataTables_wrapper {
        margin: 0 auto;
    }
    thead input {
        width: 100%;
    }
    td {
        width: 1000px;
    }

    table{
  margin: 0 auto;
  width: 100%;
  clear: both;
  border-collapse: collapse;
  table-layout: fixed; 
  word-wrap:break-word;
}

div.toolbar{
  padding-bottom: 5px;
}
</style>

{% endblock extra_styles %} {% block extra_js %}

<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.8/js/dataTables.fixedHeader.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />



<script language="javascript">

$(document).ready(function () {
  $('#report_table thead tr').clone(true).appendTo( '#report_table thead' );
    $('#report_table thead tr:eq(1) th').each( function (i) {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
 
        $( 'input', this ).on( 'keyup change', function () {
            if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );




    var table = $("#report_table").DataTable({
      orderCellsTop: true,
      fixedHeader: true,
      scrollX: true,
      columnDefs: [
        { "width": "200", "targets": 0 },
        { "width": "200", "targets": 1 },
        { "width": "200", "targets": 2 },
        { "width": "200", "targets": 3 },
        { "width": "200", "targets": 4 },
        { "width": "200", "targets": 5 },
        { "width": "200", "targets": 6 },
        { "width": "200", "targets": 7 },
        { "width": "200", "targets": 8 },
        { "width": "150", "targets": 9 },
        { "width": "150", "targets": 10 },
        { "width": "150", "targets": 11 },
        { "width": "150", "targets": 12 },
      ],
      language: {
        lengthMenu: "_MENU_",
      },
      dom: '<"toolbar">Bfrtip',
      buttons: [
      { extend: 'csv', text: 'Download' }
    ]
    });

  $("div.toolbar").html('Visit Date <i class="md-calendar"></i>&nbsp;:<input id="date_range" type="text">'); 
  // Date range script - Start of the sscript
$("#date_range").daterangepicker({
	autoUpdateInput: false,
	locale: {
		"cancelLabel": "Clear",
        },
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
});

$("#date_range").on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('YYYY-MM-DD') + ' to ' + picker.endDate.format('YYYY-MM-DD'));
	  table.draw();
});

$("#date_range").on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
	  table.draw();
});
// Date range script - END of the script

$.fn.dataTableExt.afnFiltering.push(
function( oSettings, aData, iDataIndex ) {
	
	var grab_daterange = $("#date_range").val();
	var give_results_daterange = grab_daterange.split(" to ");
    var filterstart = give_results_daterange[0];
    var filterend = give_results_daterange[1];
    var iStartDateCol = 12; //using column 2 in this instance
    var iEndDateCol = 12;
    var tabledatestart = aData[iStartDateCol];
    var tabledateend= aData[iEndDateCol];
	
    if ( !filterstart && !filterend )
    {
        return true;
    }
    else if ((moment(filterstart).isSame(tabledatestart) || moment(filterstart).isBefore(tabledatestart)) && filterend === "")
    {
        return true;
    }
    else if ((moment(filterstart).isSame(tabledatestart) || moment(filterstart).isAfter(tabledatestart)) && filterstart === "")
    {
        return true;
    }
    else if ((moment(filterstart).isSame(tabledatestart) || moment(filterstart).isBefore(tabledatestart)) && (moment(filterend).isSame(tabledateend) || moment(filterend).isAfter(tabledateend)))
    {
        return true;
    }
    return false;
}
);

//End of the datable
 });
</script>

{% endblock extra_js %}
