{% extends "sevia_app/base.html" %}
{% block content %}
    <h1>System Settings</h1>

    <div class="card">
        <div class="card-body">
            <h3>Language</h3>
            <span>English</span>
            <hr>
            <h3>Version</h3>
            <span>1.2.2,101</span>
            <hr>
            <h3>Build Number</h3>
            <span>0xf2a0349</span>
            <hr>
            <h3>Dashboard</h3>
            <span> <a href="http://sevia.esurveillance.or.tz">http://sevia.esurveillance.or.tz/ </a></span>
            <hr>
            <h3>Signature</h3>
            <span>&copy; 2017 <a href="http://skyconnect.co.tz"> Skyconnect</a></span>
            <br>
            Powered by Skyconnect &#174; 2007
            <hr>
            
        </div>
    </div>
{% endblock content %}