{% extends "sevia_app/base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Cases</h1>
<div class="card">
  <div class="card-body">
  <div class="d-flex justify-content-end search my-2">
      {% include "sevia_app/includes/search.html" %}
    </div>
    <table class="table table-striped table-bordered" id="facilities_table">
      <thead>
        <tr>
          <th scope="col">Case</th>         
          <th scope="col">Age</th>
          <th scope="col">Parity</th>
          <th scope="col">Facility</th>
          <th scope="col">HIV status</th>
          <th scope="col">Reviewer</th>
          <th scope="col">Provider</th>
          <th scope="col">Visit Date</th>
          <th scope="col">Created Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {%for patient_data in object_list %}
        <tr>
          <td>{{patient_data.patient.id}}</td>         
          <td>{{patient_data.patient.age}}</td>
          <td>{{patient_data.parity}}</td>
          <td>
            {%for f in patient_data.patient.facility.all %}
              {{f.name}} {% if not forloop.last %}, {% endif %}
            {%endfor%}
          </td>
          <td>{{patient_data.hiv_status}}</td>
          <td>{{patient_data.reviewer_data.created_by}}</td>
          <td>{{patient_data.provider.fullname}}</td>
          <td>{{patient_data.visit_date}}</td>
          <td>{{patient_data.created_at}}</td>
          <td>
            <a
              role="button"
              href="{% url 'sevia_app:patient_data_update' patient_data.uri %}"
              class="btn btn-pure btn-primary icon md-edit"
            ></a>
            {% if perms.sevia_app.view_formreviewerdatav1 %}

              {% if patient_data.reviewer_data %}
                <a
                  role="button"
                  href="{% url 'sevia_app:reviewer_data_update' patient_data.reviewer_data.uri %}"
                  class="btn btn-pure btn-info icon md-eye"
                ></a>
              {% else%}
                <a
                  role="button"
                  href="{% url 'sevia_app:reviewer_data_create' patient_data.uri %}"
                  class="btn btn-pure btn-success icon md-eye"
                ></a>
              {% endif %}
            {% endif %}
            <a
              role="button"
              href="{% url 'sevia_app:patient_data_delete' patient_data.uri %}"
              class="btn btn-pure btn-danger icon md-delete"
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %}
      {% include "sevia_app/includes/pagination.html" %}
    {% endif %}
  </div>
</div>
{% endblock content %} {% block extra_styles %}

{% endblock extra_styles %} {% block extra_js %}


{% endblock extra_js %}
