{% extends "sevia_app/base.html" %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<h1>Reviewed Cases</h1>
<div class="card">
  <div class="card-body">
  <div class="d-flex justify-content-end search my-2">
      {% include "sevia_app/includes/search.html" %}
    </div>
    <table class="table table-striped table-bordered" id="facilities_table">
      <thead>
        <tr>
          <th scope="col">Case</th> 
          <th scope="col">Reviewer</th>
          <th scope="col">Assessment</th> 
          <th scope="col">Comment</th>        
          <th scope="col">Created At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {%for reviewer_data in object_list %}
        <tr>
          <td>{{reviewer_data.patient_data_id}}</td>         
          <td>{{reviewer_data.created_by.fullname}}</td>  
          <td>{{reviewer_data.assessment}}</td>  
          <td>{{reviewer_data.comment}}</td>  
          <td>{{reviewer_data.created_at}}</td>  
          <td>
            <a
              role="button"
              href="{% url 'sevia_app:reviewer_data_update' reviewer_data.uri %}"
              class="btn btn-pure btn-primary icon md-edit"
            ></a>
            <a
              role="button"
              href="{% url 'sevia_app:reviewer_data_delete' reviewer_data.uri %}"
              class="btn btn-pure btn-danger icon md-delete"
            ></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_paginated %}
      {% include "sevia_app/includes/pagination.html" %}
    {% endif %}
  </div>
</div>
{% endblock content %} {% block extra_styles %}


{% endblock extra_styles %} {% block extra_js %}


{% endblock extra_js %}
