<nav aria-label="Page navigation">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
        <li class="page-item disabled"><a class="page-link" href="#" aria-label="Prev"><span>&laquo;</span></a></li>
      {% endif %}

      {% if page_obj.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
      {% endif %}

      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
          <li class="page-item active"><a class="page-link" href="#" aria-label="Current"><span>{{ i }} <span
                  class="sr-only">(current)</span></span></a></li>
        {% elif i < page_obj.number and i >= page_obj.number|add:"-4" and i != page_obj.number and i != 1 %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% elif i > page_obj.number and i <= page_obj.number|add:"4" and i != page_obj.number and i != page_obj.paginator.num_pages %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}

      {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
      {% endif %}


      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#" aria-label="Next"><span>&raquo;</span></a>
        </li>
      {% endif %}
    </ul>
  </nav>