<form method='GET' class="form-inline ml-auto">
    <input class="form-control input-icon" placeholder="Search" type='text' name='q' value='{{ request.GET.q }}'>
    <input class="button mx-1" type='submit' value="Search">
  </form>